@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0B1555;
}

.slide{
    height: 100%;
    width: 275px;
    position: absolute;
    background-color: #1E38E6;
    transition: 0.5s ease;
    transform: translateX(-275px);
}

h1 {
    color: white;
    font-weight: 800;
    text-align: left;
    padding: 10px 0;
    padding-left: 80px;
    pointer-events: none;
}

ul li{
    list-style: none;


}

ul li a{
    color: white;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a{
    color: #143699;
    background-color: white;
}

ul li a i{
    width: 40px;
    text-align: center;
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance:none ;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top:20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: transparent;
    
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:white ;
    border-radius: 50px;
    transition: 0.3 ease;
}

.toggle .top_line {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .middle_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .bottom_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0 , 0, 0, 0.5);
}

.navbar {
    margin: 0;
    padding: 25px;
    width: 100%;
    background-color: #1E38E6;
}

#link {
    margin-top: -17px;    
    float: right;
    background-color: #1E38E6;
    color: white;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}


