*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.slide{
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #1E38E6
    ;
    transition: 0.5s ease;
}

h1 {
    color: white;
    font-weight: 800;
    text-align: left;
    padding: 10px 0;
    padding-left: 30px;
    pointer-events: none;
}

ul li{
    list-style: none;


}

ul li a{
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}