@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddfeb;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}

select {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #1f2847;
    font-size: 14px;    
}

.btn {
    width: 100%;
    height: 60px;
    background-color: #0c80ef;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: #0a6bc5;
}

.btn.disabled {
    cursor: not-allowed;
    background-color: #576081;
}

.hide {
    display: none;
}

.timer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.timer .progress{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #ea517c, #b478f1);
    transition: 1s linear;
}